* {
    font-family:sans-serif;
}
header {
    text-align: center;
    font-size: larger;
    color: rgba(37, 38, 48, 0.856);
}

h1, h2 {
    font-weight: bolder;
}

.card{
    margin: 30px;
    height: 100%;
    padding: 40px;
    color: black;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);


}

form{
    
    align-content: center;
    padding: 10px;
    border-top: rgb(210, 202, 202) solid;
    border-bottom: rgb(210, 202, 202) solid;
}

input{

    border: rgb(210, 202, 202) dashed;
    border-radius: 5px;
    padding-left: 20px;
    width: 100%;
    height: 300px;
}