* {
    font-family:sans-serif;
}
header {
    text-align: center;
    font-size: larger;
    color: rgba(37, 38, 48, 0.856);
}

h1, h2 {
    font-weight: bolder;
}

.card{
    margin: 40px;
    height: 80%;
    padding: 40px;
    color: black;
    border-radius: 10px;


}

form{
    
    align-content: center;
    padding: 20px;
    border:rgb(114, 113, 113) 5px;
    border-top: solid;
    border-left: none;
    border-bottom: solid;
}

input{
    border: rgb(180, 179, 179);
    border-top: dashed;
    border-bottom: dashed;
    padding-left: 20px;
}